body{
    background-color: rgb(232, 236, 240);
font-family: sans-serif;
    line-height: 1.6em%;
    margin: 1.5%;
    font-size: 110%;
}
h1{
    color:rgb(221, 132, 22);
    font-size: 340%;
    margin-bottom: 1.5%;



}
html{margin-top: 3%;
margin: 8%;}

h2{
    margin-top: 0%;
    margin-left:0%;
    font-size: 190%;
    line-height: 1.5em;

}
.box4{
    font-family: monospace;
}
a{
    text-decoration: none;
}

.container1{
    margin-left: 85%;
    position: fixed;

}
.main{
    margin-top: 8%;
    font-size: 130%;
    line-height: 200%;
}
.container{
    margin-left: 85%;
    margin-top: 6%;
    position: fixed;
}
ul{
    font-size: 130%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 200%;
    text-decoration: underline;
}
ul p{
border-left: 0%;
}
.more{
    line-height: 1.8em;
    font-size: 130%
}
    
    
